body {
  background-image: url("src/images/background.png");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.image {
  border: 1px solid #00ff2a;
  /* padding: 10px; */
}

.image:hover {
  box-shadow: 10px 5px 20px #141414;
}

.b-terminal {
  justify-content: center;
}

.terminal {
  display: block;
  margin: 0 auto;
  margin-top: 30vh;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #00ff2a;
  height: 450px;
  width: 900px;
  animation: fadeInAnimation ease 1s;
  backdrop-filter: blur(10px);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.t-select {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.t-terminal {
  color: #00ff2a;
}

.teamList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #31aa59;
}

.teamList img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.storageList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #31aa59;
}

.storageList img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
